#companionManager{
    min-width: 320px;
}

#companionManager .window-content{
    padding: 0px;
}

#companionManager .form-group{
    flex-direction: column;
    padding: 0px;
}

#companion-list{
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

.actor-image{
    width: 50px;
    height: 50px;
    border: none;
    transition: opacity 0.2s ease-in-out;
}

.actor-image:hover{
    opacity: 0.3;
}

.companion-item{
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    transition: background-color 0.2s ease-in-out;
    padding: 8px;
}

.companion-item:hover{
    background: rgba(0, 0, 0, 0.3);
}

.summon-btn{
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}

.warpgate-btn{
    /*-moz-mask-image: url(../assets/black-hole-bolas.svg);
    -webkit-mask-image: url(../assets/black-hole-bolas.svg);
    mask-image: url(../assets/black-hole-bolas.svg);
    background: rgba(105, 105, 105, 0.75);*/
    background: url(../assets/black-hole-bolas.webp) center;
    background-size: contain;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 40px;
    height: 40px;
    margin-left: -45px;
    border: none;
}

.warpgate-btn:hover{
    cursor: pointer;
    opacity: 1;
}

.anim-dropdown{
    width: 100px;
    min-width: 100px;
    margin-left:10px;
    margin-right: 10px;
}

.companion-number{
    width: 25px;
    min-width: 25px;
    text-align: center;
    margin-left:auto;
    margin-right: -13px;
}

#companion-list input{
    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 27px;
}

#companion-list select{
    border-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 27px;
}

.actor-name{
    margin-left: 1em;
    margin-right: 1em;
    min-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.actor-name:hover{
    cursor: pointer;
    text-shadow: rgba(255, 0, 0, 0.75) 0 0 5px;
}

#remove-companion:hover{
    cursor: pointer;
    text-shadow: rgba(255, 0, 0, 0.75) 0 0 5px;
}

.searchbox{
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
